/*
=======
nav-bar
=======
*/

.nav-bar-font {
  font-family: 'Monoton';
}

/*
=======
welcome page
=======
*/

.blue-bar {
  background-color: #266DD3;
}

.no-border {
  max-width: 100%;
  margin-top: -40px;
}

.color-layout {
  background-color: #3B4E79;
}


/*
=======
dashboard page
=======
*/

.background-color {
  background-color: #094D9A;
}

.most-recent {
  color: #01BAEF;
  font-family: 'Raleway', sans-serif;
}

/*
=======
new trip page
=======
*/


/*
=======
show trip page
=======
*/

.margin-right {
  margin-right: 100px;
}

.margin-left {
  margin-left: 100px;
}

.heading-font {
  font-family: 'Comfortaa';
}

.content-font {
  font-family: 'Yanone Kaffeesatz', sans-serif;
}

.show-page-title-color {
  color: #266DD3;
}
