<!DOCTYPE html>
<html>
  <head>
    <title>CommuteTracker</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <ul>
      <li> h1 </li>
    </ul>
    <%= yield %>
  </body>
</html>
